<%
function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];
    //Object.keys повертає масив ключів в об’єкті JavaScript
    Object.keys(content).forEach(function(key){
        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });
    return result;
}
   %>
<div class="col-md-6 col-lg-4 pizza-card">
    <div class="thumbnail">
        <img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">

        <% if(pizza.is_new) { %>
        <span class="label label-danger">Нова</span>
        <% } else if(pizza.is_popular) {%>
        <span class="label label-success">Популярна</span>
        <% } %>

        <div class="caption">
            <h3 class="title"><%= pizza.title %></h3>
            <div class="type"><%= pizza.type %></div>
            <div class="description">
                <%= getIngredientsArray(pizza).join(", ") %>
            </div>
        </div>
        <div class="row">
            <% if(pizza.small_size) { %>
            <div class="col-sm-6 small-pizza <% if(!pizza.big_size) { var uno = "uno";%> <%= uno%> <% } %>">
                <div>
                    <img  class="image" src="assets/images/size-icon.svg">
                    <span class="diam"><%= pizza.small_size.size %></span>
                </div>
                <div>
                    <img  class="image" src="assets/images/weight.svg">
                    <span class="weight"><%= pizza.small_size.weight %></span>
                </div>
                <h3 class="costs"><%= pizza.small_size.price %></h3>
                <div class="uah">грн.</div>
                <a href="#" class="btn btn-warning buy-sm">Купити</a>
            </div>
            <% } %>
            <% if(pizza.big_size) { %>
            <div class="col-sm-6 big-pizza  <% if(!pizza.small_size) { var uno = "uno";%> <%= uno%> <% } %>">
                <div>
                    <img class="image" src="assets/images/size-icon.svg">
                    <span class="diam"><%= pizza.big_size.size %></span>
                </div>
                <div>
                    <img  class="image"   src="assets/images/weight.svg">
                    <span class="weight"><%= pizza.big_size.weight %></span>
                </div>
                <h3 class="costs"><%= pizza.big_size.price %></h3>
                <div class="uah">грн.</div>
                <a href="#" class="btn btn-warning buy-l">Купити</a>
            </div>
            <% } %>
        </div>
    </div>
</div>