<div class="order-item">
    <img class="img-pizza-in-basket" src="assets/images/pizza_1.jpg">
    <span class="order-item-name">
         <%= pizza.title %> (<% if(size=="big_size") { %> <%= "Велика" %> <% }if(size == "small_size"){%> <%= "Мала"%> <%}%>)
    </span>
    <div class="options">
        <span>
            <img class="image" src="assets/images/size-icon.svg">
            <span class="diam"><%= pizza[size].size %></span>
        </span>
        <span>
            <img class="image" src="assets/images/weight.svg">
            <span class="weight"><%= pizza[size].weight %></span>
        </span>
    </div>
    <div class="amount-options">
        <span class="item-cost"><%= pizza[size].price %></span>
            <span class="uah">грн.</span>
        <button class="btn btn-sm btn-danger less">
            <span class="glyphicon glyphicon-minus"></span>
        </button>
        <span class="amount-of-items">
            <span class="quantity"><%= quantity %></span>
        </span>
        <button class="btn btn-sm btn-success more">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <button class="btn btn-sm btn-warning remove">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>
</div>